<ul class="tag-link">
  <li class="tag-link">Main topics:</li>

{% assign pinned_labels = site.data.labels | where: 'namespace', 'main' %}
{% for tag in pinned_labels %}
  {% if page.tag-name == tag.name %}
    {% assign a_tag_link_class = "tag-link-active" %}
  {% else %}
    {% assign a_tag_link_class = "tag-link" %}
  {% endif %}
  {% assign tag_slug = tag.name | slugify: "raw" %}
  <li class="tag-link">
      <a class="{{ a_tag_link_class }}"
        href={{ site.baseurl | append: "/labels/" | append: tag_slug }}
        rel="category tag">
        #{{ tag.name }}
      </a>
    </li>
{% endfor %}

  <li class="tag-link">
      {% if page.tag-name %}
        {% assign a_tag_link_class = "tag-link-more" %}
      {% elsif include.more_tag_name == "More »" %}
        {% assign a_tag_link_class = "tag-link-more" %}
      {% else %}
        {% assign a_tag_link_class = "tag-link-active" %}
      {% endif %}
      <a class="{{ a_tag_link_class }}"
        href={% link archives.html %}
        rel="category tag">
        {{ include.more_tag_name }}
      </a>
    </li>
</ul>
